RemoteSystemsTempFiles
/target/
.classpath
/.metadata
.project
.settings
.idea
*.iml
/bin/
/src/main/webapp/node_modules/
/src/main/webapp/typings/
*.log
=
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Supprimerait .metadata/
Supprimerait RemoteSystemsTempFiles/
Supprimerait src/main/webapp/WEB-INF/database.properties
