<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http auto-config="true"  >
        <intercept-url pattern="/users" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/users/add/user" access="hasAuthority('ADMIN') or hasAuthority('USER')" />
        <intercept-url pattern="/reservations/laptop/add" access="hasAuthority('USER') or hasAuthority('ADMIN')" />
        <intercept-url pattern="/person/add" access="isAuthenticated" />
        <intercept-url pattern="/person/delete" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/**" access="permitAll" />
        <form-login  login-page="/login"
                     username-parameter="email"
                     password-parameter="password"
                     authentication-failure-url="/accessDenied" />
        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider ref="daoAuthenticationProvider" />
    </authentication-manager>

    <beans:bean class="org.springframework.security.authentication.dao.DaoAuthenticationProvider" id="daoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="customLoginService" />
        <beans:property name="passwordEncoder" ref="passwordEncoder" />
    </beans:bean>

    <beans:bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder" >
        <beans:constructor-arg value="11"/>
    </beans:bean>

</beans:beans>